<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.mmmi.sdu/tamamo/DecisionTree"
			class = "sdu.mmmi.tamamo.decisionTree.DecisionTreePackage"
			genModel = "model/generated/DecisionTree.genmodel" />
	</extension>
</plugin>
